.categoryOptions {
    display: flex;
    margin: 1rem 3rem;
}

.profPic {
    margin: 1rem 3rem;
    border: #222222 1px solid;
    border-radius: 3%;
}

.sortButtons {
    margin: 0.5rem;
    font-family: "Raleway", sans-serif;
}


.homeTitle, .loginTitle {
    text-align: center;
    color: #643F3F;
    text-shadow: 1.5px 1.5px #222222;
}

.categoryOptions > .add-btn {
    background-color: #aa998f !important;
    border: #aa998f outset 1px;
}

.emptyMessage {
    margin-left: 4rem;
    color: #643F3F;
}

.loginButton {
    margin-top: 2rem;
}

.link--register {
    text-align: center;
    color: #643F3F;
    margin-top: 2rem;
    font-family: "Quantico", sans-serif;
}

.link--register > div > a {
    text-decoration: none;
    color: #643F3F;
}

.link--register > div > a:hover {
    text-decoration: none;
    color: #CC8B86;
}